<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
		<tab id="priyank" translate="label" sortOrder="10">
            <label>Priyank</label>
        </tab>
        <section id="free_shipping_bar" translate="label" type="text" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Free Shipping Bar Settings</label>

            <tab>priyank</tab>
			<resource>Webkul_Demo::config_demo</resource>

            <group id="configuration" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>

                <!-- Enable/Disable -->
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Free Shipping Bar</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <!-- Minimum Amount -->
                <field id="min_amount" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Minimum Shipping Cart Total</label>
                    <validate>validate-number</validate>
                </field>
            </group>
        </section>
    </system>

</config>